{
    "env": {
        "dev": {
            "presets": [
                [
                    "env",
                    {
                        "modules": false
                    }
                ]
            ],
            "plugins": [
                "transform-object-rest-spread",
                "transform-class-properties",
                "transform-es2015-classes",
                "external-helpers"
            ]
        },
        "test": {
            "presets": [
                [
                    "env"
                ],
                "flow"
            ],
            "plugins": [
                "transform-class-properties"
            ]
        }
    }
    
}